{% comment %}
  ly_global_begin
{% endcomment %}
{% capture ly-global-content %}
  {% render 'ly-global' render:true %}
{% endcapture %}
{% assign ly-global-content = ly-global-content | split: '#ly#' %}
{% assign langify_title = ly-global-content[0] %}
{% assign langify_description = ly-global-content[1] %}
{% assign langify_shop_name = ly-global-content[2] %}
{% assign langify_shop_description = ly-global-content[3] %}
{% assign canonical_langify_url = ly-global-content[4] %}
{% assign langify_shop_url = ly-global-content[5] %}
{% assign langify_shop_domain = ly-global-content[6] %}
{% comment %}
  ly_global_end
{% endcomment %}
{% liquid 
  assign call_to_ = call_to | split: '|'
  if call_to != blank
    assign tag_container = "div"
    assign tag_video = "a"
  else
    assign tag_container = "a"
    assign tag_video = "div"
  endif
%}

<div class="height_block_{{ block.id }}">
  <{{ tag_container }} {% if call_to == blank %} href="{{ url }}" title="{{ title }}"{% endif %} class="relative-video-background">
    
    <{{ tag_video }} {% if call_to != blank %} href="{{ url }}" title="{{ title }}"{% endif %} class="background-video">
      <video autoplay loop muted playsinline>  
        <source src="{{ img_bg }}" type="video/mp4"> 
      </video>
    </{{ tag_video }}>

    <div class="card-container-custom relative-info-card">
      <div {% if call_to == blank %}style="flex-wrap: wrap; justify-content: center; text-align: center;"{% endif %} class="call-to-custom">
        <div {% if call_to == blank %}style="width: 100%;"{% endif %} class="info-container-custom">
          {% if tag != blank %}
            <span class="style_tag_{{ section.id }} tag-color">
              {{ tag }}
            </span>  
          {% endif %}
          {% if title != blank %}
            <p class="style_title_{{ section.id }} title-card-custom bold-font">{{ title }}</p>
          {% endif %}
          {% if subtitle != blank %}
            <p class="style_subtitle_{{ section.id }} subtitle-card-custom">{{ subtitle }}</p>
          {% endif %}
        </div>

        {% if call_to != blank %}
          {% capture class %}style_btn_{{ section.id }} container-btn-customBlock{% endcapture %}
          {% assign call_to_ = call_to | split: '|' %}
          <div class="button-desktop">
            {% render 'btn-link-soru' url: url, call_to: call_to_[0], class: class %}
          </div>
          <div class="button-movil">
            {% render 'btn-link-soru' url: url, call_to: call_to_[1], class: class %}
          </div>
        {% endif %}

      </div>
    </div>

  </{{ tag_container }}>
  
</div>

<style>
  .height_block_{{ block.id }} {
    display: grid;
    height: {{ block.settings.height_block }}px;
  } @media screen and (max-width: 600px) {
    .height_block_{{ block.id }} {
      height: {{ block.settings.height_block_movil }}px;}}
</style>