{% comment %}
  ly_global_begin
{% endcomment %}
{% capture ly-global-content %}
  {% render 'ly-global' render:true %}
{% endcapture %}
{% assign ly-global-content = ly-global-content | split: '#ly#' %}
{% assign langify_title = ly-global-content[0] %}
{% assign langify_description = ly-global-content[1] %}
{% assign langify_shop_name = ly-global-content[2] %}
{% assign langify_shop_description = ly-global-content[3] %}
{% assign canonical_langify_url = ly-global-content[4] %}
{% assign langify_shop_url = ly-global-content[5] %}
{% assign langify_shop_domain = ly-global-content[6] %}
{% comment %}
  ly_global_end
{% endcomment %}
{% case media.media_type %}

  {% when 'image' %}
    <div id="{{media.id}}" class="container-media">
      {% render 'bg-image-upload' class: "img-slides", img: img_link, size: '500x' %}
    </div>
    
  {% when 'external_video' %}
    <div id="{{media.id}}" class="container-media">
      <div class="container-video-media">
        {{ media | external_video_tag }}
      </div>
    </div>

  {% when 'video' %}
    <div id="{{media.id}}" class="product-single__media product-single__media--video product-single__media--{{ media.id }}">
      {{ media | video_tag: class: 'media-video', image_size: image_size }}
    </div>

{% endcase %}