{% comment %}
  ly_global_begin
{% endcomment %}
{% capture ly-global-content %}
  {% render 'ly-global' render:true %}
{% endcapture %}
{% assign ly-global-content = ly-global-content | split: '#ly#' %}
{% assign langify_title = ly-global-content[0] %}
{% assign langify_description = ly-global-content[1] %}
{% assign langify_shop_name = ly-global-content[2] %}
{% assign langify_shop_description = ly-global-content[3] %}
{% assign canonical_langify_url = ly-global-content[4] %}
{% assign langify_shop_url = ly-global-content[5] %}
{% assign langify_shop_domain = ly-global-content[6] %}
{% comment %}
  ly_global_end
{% endcomment %}
{% liquid
  assign current_variant = product.selected_or_first_available_variant
  assign product_description = product.description
  assign product_description = product_description | replace: '&lt;--', '<--'
  assign product_description = product_description | replace: '--&gt;', '-->'
  assign product_description = product_description | replace: '<p><--', '<--'
  assign product_description = product_description | replace: '--></p>', '-->'
  assign product_description = product_description | split: '<-- split -->'
  assign description_under = product_description[1] | split: '[undertitle]'
  assign hasSuscription = isSuscription | default: false 
%}

<div class="card-container bg_card-pack card_product-bg">
  <div 
    class="image-link-card drop-preview pointer-cursor"
    id_product="{{ product.id }}"
    handle="{{ product.handle }}"
    title="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% capture ly_translation %}{% render 'ly-title' with product render:true %}{% endcapture %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
    <div class="images-loop height-card-image"> 
      {% render 'images-card-product' product: product %}
      <div class="tag-objective-pack tag-position">
        {% for cd in product.tags %}
          {% assign tag_ = cd | split: '-' %}
          {% if tag_[0] == "card" %}
            <span class="color-tag_{{ tag_[1] }}">{{ tag_[1] | capitalize }}</span>
          {% endif %}
        {% endfor %}
      </div>  
    </div>
  </div>
  <div class="padding-card container-select-input">
    <form class="request-form-pack" action="/cart/add">
      {% unless hasSuscription == true %}
      <input 
        name="id"
        value="{{ current_variant.id }}"
        type="hidden" />
      {% else %}         
        <input 
        name="id"
        value="{{ current_variant.metafields.subscriptions.discount_variant_id }}"
        type="hidden" />
      {% endunless %}
    </form>
    <div class="quantity-pack">
      <div
        data-price= "{{ current_variant.price}}"
        class="quantity-packing"
        product-pack="{{ product.id }}"
        variant-pack="{% unless hasSuscription == true %}{{ current_variant.id }}{% else %}{{ current_variant.metafields.subscriptions.discount_variant_id }}{% endunless %}">
        0
      </div>
      <div class="quantity-btns-pack">
        <button
          data-event="minus"
          class="quantity-btn btn-pack-meno">
        </button>
        <button
          data-event="plus"
          class="quantity-btn btn-pack-plus">
        </button>
      </div>
    </div>
  </div>
  <div class="end-card detail-card details-product-card">
    <div
      class="drop-preview pointer-cursor"
      id_product="{{ product.id }}"
      handle="{{ product.handle }}"
      href="{{ product.url }}"
      title="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% capture ly_translation %}{% render 'ly-title' with product render:true %}{% endcapture %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
      <span class="name_product-pack bold-font">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% capture ly_translation %}{% render 'ly-title' with product render:true %}{% endcapture %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
      <div class="section-price-product">
        <span
          product_id='{{ product.id }}'
          class="currency-class price_product-pack bold-font">
          
            {% assign percentage_discount = 100 | minus: discount_subs | times: 0.01 %}
              {% unless hasSuscription == true %}
                {{ product.price | times: percentage_discount | money }}
              {% else %}
                {{ current_variant.metafields.subscriptions.discount_variant_price }}
              {% endunless %}
         
        </span>
        {% if product.compare_at_price_max > product.price or current_variant.metafields.subscriptions.discount_variant_price != blank  %}

          <span
            product_id='{{ product.id }}'
            class="currency-class price_compare-pack line-thr">
            {% if current_variant.metafields.subscriptions.discount_variant_price != blank %}
              {{ product.price | money }}
            {% else %}
              {{ product.compare_at_price | money }}
            {% endif %}
          </span>
        {% endif %}
      </div>
      <span class="description_product-pack">
        {{ description_under[1] | remove: '[/undertitle]' }}
      </span>
    </div>
  </div>
</div>

<script>

</script>
