{% comment %}
  ly_global_begin
{% endcomment %}
{% capture ly-global-content %}
  {% render 'ly-global' render:true %}
{% endcapture %}
{% assign ly-global-content = ly-global-content | split: '#ly#' %}
{% assign langify_title = ly-global-content[0] %}
{% assign langify_description = ly-global-content[1] %}
{% assign langify_shop_name = ly-global-content[2] %}
{% assign langify_shop_description = ly-global-content[3] %}
{% assign canonical_langify_url = ly-global-content[4] %}
{% assign langify_shop_url = ly-global-content[5] %}
{% assign langify_shop_domain = ly-global-content[6] %}
{% comment %}
  ly_global_end
{% endcomment %}
<div class="text-centerr">
  {% if section.settings.title_icons_suscription != blank %}
    <div class="green-bar-icons">
      <span class="width-panda bold-font">{{ section.settings.title_icons_suscription }}</span>
    </div>
  {% endif %}
  <div class="block-icons-suscriptions width-panda">
    {% if section.settings.subtitle_icons_suscription != blank %}
      <h2 class="title-funnel-icons">{{ section.settings.subtitle_icons_suscription }}</h2>
    {% endif %}
    <div class="grid-container-icons">
      {% for block in section.blocks %}

        {% liquid
          if block.settings.text_icon != blank
            assign img_url = block.settings.text_icon | append: '.svg' | file_url
          else
            assign img_url = block.settings.icon_image | img_url: '50x50'
          endif
        %}

        <div class="container-block-icons">
          {% capture img_id %}BlockImage-{{ block.id }}{% endcapture %}
          {% render 'img-upload' img_id: img_id, img_url: img_url, alt: "icon Panda Tea", class: "image-icon-suscription" %}
          <p class="font-16px margin-text-icon">{{ block.settings.text_block }}</p>
        </div>

      {% endfor %}
    </div>
  </div>
</div>

<style>
  .green-bar-icons{
    background-color:{{ section.settings.color_bar }}; 
    color:{{ section.settings.color_text_bar }};
  }
</style>

{% schema %}
  {
    "name": "Icons suscriptions",
    "class": "section-hero-suscription",
    "max_blocks": 4,
    "settings": [
      {
        "type": "text",
        "id": "title_icons_suscription",
        "label": "Title in section",
        "default": "Profitez de tous les avantages"
      },
      {
        "type": "text",
        "id": "subtitle_icons_suscription",
        "label": "Text in bar",
        "default": "Sans engagement, arrêtez quand vous voulez !"
      },
      {
        "type": "color",
        "id": "color_bar",
        "label": "Color Bar",
        "default": "#45C391"
      },
      {
        "type": "color",
        "id": "color_text_bar",
        "label": "Color Text Bar",
        "default": "#FFF"
      }
    ],
    "blocks":[
      {
        "type": "iconText",
        "name": {
          "en": "Icons block text", 
          "fr": "Texte du bloc d'icônes"
        },
        "settings":[
          {
            "type": "header",
            "content": {
              "en": "Icon in block", 
              "fr": "Icône dans le bloc"
            }
          },
          {
            "type": "paragraph",
            "content": {
              "en": "You can choose the a format you want for the icon of this block",
              "fr": "Vous pouvez choisir le format que vous souhaitez pour l'icône de ce bloc" 
            }
          },
          {
            "type": "text",
            "id": "text_icon",
            "label": {
              "en": "Icon SVG (Recommended*)", 
              "fr": "Icône SVG (recommandé*)"
            },
            "info": {
              "en": "You must upload the file in the files folder from backoffice and then put here the plain name (.svg)",
              "fr": "Vous devez télécharger le fichier dans le dossier des fichiers depuis le backoffice puis mettre ici le nom brut (.svg)"
            }
          },
          {
            "type": "image_picker",
            "id": "icon_image",
            "label": {
              "en": "Icon IMAGE", 
              "fr": "Icône IMG"
            }
          },
          {
            "type": "header",
            "content": {
              "en": "text in block", 
              "fr": "Texte dans le bloc"
            }
          },
          {
            "type": "richtext",
            "id": "text_block",
            "label": {
              "en": "text in block", 
              "fr": "Texte dans le bloc"
            },
            "default": "<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit,</strong> sed do eiusmod.</p>"
          }
        ]
      }
    ]
  }
{% endschema %}